.first {
    border: 2px solid red;
    transition-property: border;
}

.last {
    border: 2px solid green;
    transition-property: border; 
}

.first, .last {
    transition-property: border;
    transition-delay: 3s;
  }
